@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .navbar .container {
    margin: 6px auto;
    width: 310px;
  }
  
  #main .container {
    width: 320px;
  }
  
  #overview {
    
  }  
    #overview .inner {
      width: 460px;
      height: 80px;
    }
    #overview .desc {
      margin: 15px 0 0 10px;
    }
  
    #overview .wishtitle {
      width: 265px;
    }
    #overview h3 {
      font-size: 15px;
      margin-left: 10px;
    }
  
  .storyline {
    width: 320px;
    margin: auto;
    position: static;
    padding: 85px 0 10px;
  }
  
  .story {
    padding: 20px;
  }
    .story .uploaded-img {
      width: 280px;
      border-radius: 3px;
    }
    .story .title {
      padding-top: 3px;
      padding-bottom: 0px;
      font-size: 15px;
    }
    .storyline .timestamp{
      font-size: 15px;

    }
    .story .icon {
      width: 26px;
    }
   
  #bottom_container .marketing_section {
    display: block;
    padding: 0 0 30px;
  }
  
}