@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .navbar .container {
    margin: 6px auto;
    width: 365px;
  }
  
  #main .container {
    width: 360px;
  }
  
  #overview {
    margin: 0 0 20px -13px;
  }  
    #overview .inner {
      width: 460px;
    }
    #overview .desc {
      margin: 20px 0 0 13px;
    }
  
  .wishtitle {
    width: 320px;
  }
  
  .storyline {
    width: 360px;
    margin: auto;
  }
  
  .story {
    padding: 20px;
  }
    .story .uploaded-img {
      width: 320px;
    }
  
}