@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .navbar .container {
    margin: 6px auto;
    width: 330px;
  }
  
  #main .container {
    width: 360px;
  }
  
  #overview {
    margin: 0 0 20px 0px;
  }  
    #overview .inner {
      width: 460px;
    }
    #overview .desc {
      margin: 20px 0 0 18px;
    }
  
    #overview .wishtitle {
      width: 260px;
    }
    #overview h3 {
      font-size: 18px;
    }
  
  .storyline {
    width: 320px;
    margin: auto;
    position: static;
    padding: 125px 0 0;
  }
  
  .story {
    padding: 20px;
  }
    .story .uploaded-img {
      width: 280px;
    }
  
}